$space: 5px;
$max-p: 100%;
$max-vh: 100vh;

@keyframes scaling {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  > div {
    float: right;
    width: $max-p / 2;
  }
}

header {
  overflow: hidden;
  padding: $space * 3;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $space * 5;

  h2 {
    text-align: center;
  }
}

.main-container {
  animation-duration: 1s;
  animation-name: scaling;
  display: block;
}

.main-img {
  height: $max-vh;
  overflow: hidden;
  position: relative;
  width: $max-p;

  img {
    height: $max-p;
    position: absolute;
    transition: all 3s;
    width: $max-p;
  }

  .noshow {
    opacity: 0;
  }

  .show {
    z-index: 2;
  }
}

menu {
  display: flex;
  margin: $space * 5;
  margin-bottom: 0;
  padding: 0;

  ul {
    display: inline-flex;
    flex-direction: row-reverse;
    padding: 0;
  }
}

.img-container {
  left: 0;
  position: absolute;
  width: $max-p / 2;
}

li {
  list-style: none;
  margin: $space;

  a {
    text-decoration: none;
  }
}

.home {
  padding: $space * 15;
  text-align: center;

  h1 {
    margin-top: $space * 30;
  }

  p {
    margin-top: $space * 20;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  width: $max-p;

  > div {
    width: $max-p / 2;
  }
}
